<footer class="footer">
  <div>
  <i class="fa-brands fa-linkedin"></i> 
  <i class="fa-brands fa-square-instagram"></i>
  <i class="fa-brands fa-facebook"></i>
  </div >
  <div class="copywrite">&copy; Wanderlust Private Limited</div>
  <div class="f-info-links">
    <a href="#">Privacy</a>
    <a href="terms">Terms</a>
  </div>
</footer>